.banner-area {
    background: url('../../img/banner/banner1_NEWNEW.png') no-repeat center;
    background-size: cover;
    &__title {
        color: $white-color;
        text-transform: capitalize;
        font-size: 42px;
        @include media-breakpoint-only(md) {
            font-size: 25px;
        }
        @include media-breakpoint-down(sm) {
            font-size: 25px;
            display: inline-block;
        }
    }
    &__text {
        color: $white-color;
        @include media-breakpoint-only(md) {
            word-spacing: 0;
        }
        @include media-breakpoint-down(sm) {
            max-width: 300px;
        }
    }
    &__buttons {
        position: relative;
    }
    &__right-image {
        animation: mymove 2s ease-in-out;
        z-index: 100;
        @include media-breakpoint-down(md) {
            width: 100%
        }
    }
    &__left {
        @include media-breakpoint-down(sm) {
            // margin-top: 50px;
            // line-height: 550px;
            // position: absolute;
            // top:-140px;
            // text-align: center;
        }
    }
}

svg {
    transition: fill 0.3s, stroke 0.3s;
    &__hover {
         :not(svg) {
            transform-origin: 0px 0px;
        }
    }
}

@keyframes mymove {
    from {
        top: -200px;
    }
    to {
        top: 0px;
    }
}

//animation fadeInUp
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.animated1 {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.animated2 {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
}

.animated3 {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
}

.animated4 {
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    animation-duration: 4s;
}

//animation fadeInRight
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}