.category {
    position: relative;
    text-align: center;
    &--block {
        margin-bottom: 30px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 30px;
        }
    }
    &--block2 {
        margin-bottom: 30px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 30px;
        }
    }
    &__image {
        width: 100px;
        height: 100px;
    }
    &__title {
        color: $title-color;
        line-height: 28px;
        margin-top: 30px;
        @include media-breakpoint-down(lg) {
            font-size: 20px;
        }
    }
    &__text {
        color: $text-color;
        font-size: 15px;
        margin-top: 10px;
    }
}

// .block {
//     position: relative;
// }
// html{
//   position: relative;
//}