.single {
  position: relative;
  text-align: center;
  &--middle {
    margin-top: 40px;
    text-align: center;
  }
  &--right {
    text-align: center;
  }
  &__area {
    padding: 0px 20px;
  }
  &__icon {
    font-size: 50px;
    display: inline-block;
    width: 150px;
    text-align: center;
    height: 150px;
    line-height: 150px;
    // transition: 0.3s ease-in-out all;
    // padding: 42px 57px;
    // margin-bottom: 20px;
    color: #f5b52f !important;
    border-radius: 50%;
    // box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 5px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    @include media-breakpoint-down(md) {
      width: 110px;
      height: 110px;
      font-size: 40px;
      line-height: 110px;
    }
  }
  &__title {
    text-transform: capitalize;
    font-size: 18px;
    color: $dark;
    @include media-breakpoint-down(md) {
      text-transform: capitalize;
      font-size: 18px;
      color: $dark;
      // margin-top: 66px;
      // margin-bottom: 30px;
    }
  }
  &__text {
    @include media-breakpoint-down(md) {
      font-size: 13px;
    }
  }
}

.single:nth-child(1) {
  &::after {
    content: "";
    height: 1px;
    top: 87px;
    right: -123px;
    width: 65%;
    border: 1px dotted $border-color;
    position: absolute;
    transform: rotate(16deg);
    @include media-breakpoint-down(md) {
      right: -72px;
      width: 60%;
    }
  }
}

.single:nth-child(2) {
  margin-top: 30px;
  &::after {
    content: "";
    height: 1px;
    top: 55px;
    right: -142px;
    width: 71%;
    border: 1px dotted #eeeef0;
    position: absolute;
    transform: rotate(-22deg);
    @include media-breakpoint-down(md) {
      right: -66px;
      width: 60%;
    }
  }
}

.single:nth-child(3) {
  // &::after {
  //     content: "";
  //     height: 1px;
  //     top: 82px;
  //     right: -247px;
  //     width: 115%;
  //     border: 1px dotted $border-color;
  //     position: absolute;
  //     transform: rotate(16deg);
  // }
}
