.features-area {
    position: relative;
    text-align: center;
    @include media-breakpoint-down(sm) {
        margin-top: 30px;
    }
    &__title{
        margin-bottom: 20px;
    }
    &--middle {
        margin-top: 40px;
        text-align: center;
        @include media-breakpoint-down(sm) {
            margin-top: 0px;
        }
    }
    &__text {
        margin-bottom: 30px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 15px;
        }
    }
    &--right {
        text-align: center;
        @include media-breakpoint-down(sm) {
            margin-top: 30px;
        }
    }
    &__content {
        // margin-bottom: 30px;
        @include media-breakpoint-up(lg) {
            padding: 0px 20px;
        }
    }
    &__icon {
        font-size: 50px;
        display: inline-block;
        width: 150px;
        text-align: center;
        height: 150px;
        line-height: 150px;
        // transition: all 0.3s ease-in-out;
        // padding: 42px 57px;
        margin-bottom: 50px;
        color: #f5b52f !important;
        border-radius: 50%;
        // box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 5px rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;
        box-shadow: $box-shadow;
        @include media-breakpoint-down(md) {
            // width: 110px;
            // height: 110px;
            // font-size: 40px;
            // line-height: 110px;
        }
        @include media-breakpoint-down(sm) {
            width: 90px;
            height: 90px;
            line-height: 90;
            margin-bottom: 10px;
        }
    }
}

.features-area:nth-child(1) {
    &::after {
        content: "";
        height: 1px;
        top: 87px;
        right: -123px;
        width: 65%;
        border: 1px dotted $border-color;
        position: absolute;
        transform: rotate(16deg);
        @include media-breakpoint-only(lg) {
            right: -96px;
            width: 57%;
        }
        @include media-breakpoint-only(md) {
            right: -51px;
            width: 41%;
        }
        @include media-breakpoint-down(sm) {
            content: none;
        }
    }
}

.features-area:nth-child(2) {
    margin-top: 30px;
    &::after {
        content: "";
        height: 1px;
        top: 55px;
        right: -142px;
        width: 71%;
        border: 1px dotted #eeeef0;
        position: absolute;
        transform: rotate(-22deg);
        @include media-breakpoint-only(lg) {
            right: -92px;
            width: 56%;
        }
        @include media-breakpoint-down(md) {
            right: -55px;
            width: 43%;
        }
        @include media-breakpoint-down(sm) {
            content: none;
        }
    }
}

.single-feature {
    &__content {
        @include media-breakpoint-down(sm) {
            // margin-bottom: 30px;
        }
    }
}