.fixed-background {
    background-attachment: fixed;
    background-image: url("../../img/mac.png");
    text-align: center;
    &__title {
        color: $white-color;
        text-transform: capitalize;
        @include media-breakpoint-down(sm) {
            font-size: 20px;
        }
    }
    &__text {
        color: $white-color;
        text-align: center;
        @include media-breakpoint-only(md) {
            max-width: 700px;
        }
        @include media-breakpoint-down(sm) {}
    }
}