.merchant-area {
    padding-top: 100px;
    @include media-breakpoint-down(sm) {
        padding-top: 60px;
    }
    &__image {
        @include media-breakpoint-up(lg) {
            max-width: 400px;
        }
    }
    &__content {
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
        // animation: mymoves 3s ease-in-out;
        // z-index: 100;
    }
}