.merchant-area {
    padding-top: 100px;
    @include media-breakpoint-down(sm) {
        padding-top: 20px;
    }
    &__image {
        @include media-breakpoint-up(lg) {
            max-width: 400px;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 30px;
            order: 1;
        }
    }
    &__content {
        @include media-breakpoint-down(sm) {
            text-align: center;
            order: 2;
        }
        // animation: mymoves 3s ease-in-out;
        // z-index: 100;
    }
}