.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    transition: all 2s;
    // // background: $primary-color;
    // @include media-breakpoint-down(sm) {
    //     background: linear-gradient(to right, #5169fa 0%, $main-purpel-color2 100%);
    //     // -webkit-box-shadow: 0px 5px 15px 0px rgba(132, 132, 132, 0.42);
    //     // -moz-box-shadow: 0px 5px 15px 0px rgba(132, 132, 132, 0.42);
    //     // // box-shadow: 0px 5px 15px 0px rgba(132, 132, 132, 0.42);
    // }
}

.navbar-brand img {
    width: 140px;
    height: auto;
    @include media-breakpoint-down(sm) {
        width: 114px;
        // position: fixed;
    }
}

.navbar ul li a {
    padding: 15px;
    padding-right: 36px !important;
    color: $white-color;
    font-family: $text-font;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: $yellow-color;
    }
    @include media-breakpoint-down(sm) {
        font-size: 16px;
        margin-right: 20px;
    }
}

.scroll-nav {
    position: fixed;
    background: linear-gradient(to right, #5169fa 0%, $main-purpel-color2 100%);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(132, 132, 132, 0.42);
    -moz-box-shadow: 0px 5px 15px 0px rgba(132, 132, 132, 0.42);
    box-shadow: 0px 5px 15px 0px rgba(132, 132, 132, 0.42);
    // @include media-breakpoint-down(sm) {
    //     position: relative;
    //     background: none;
    // }
}

.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:hover,
.navbar .navbar-nav>.active>a:focus {
    color: $yellow-color;
    /* <—– change your color here*/
    background-color: transparent;
}

.navbar-toggler {
    color: $white-color;
    // background: transparent;
    @include media-breakpoint-down(sm) {
        position: fixed;
        right: 5px;
        top: 14px
    }
}

@media only screen and (max-width: 767px) {
    #slide-navbar-collapse {
        position: fixed;
        top: 59px;
        right: 0;
        z-index: 99;
        width: 64%;
        height: 100%;
        background: linear-gradient(to right, #5169fa 0%, $main-purpel-color2 100%);
        overflow: auto;
        padding: 0 15px 15px;
    }
    .menu-overlay {
        background-color: #0b143377;
        visibility: hidden;
        transition: .2s;
        width: 100%;
        position: absolute;
        top: 59px;
        right: 0;
        bottom: 0;
    }
    .menu-overlay.show {
        visibility: visible;
        // right: 0;
        z-index: 10;
    }
}