.payment {
    &__title {
        margin-bottom: 25px;
        text-transform: capitalize;
        @include media-breakpoint-down(md) {
            font-size: 27px;
        }
    }
    &__text {
        margin-bottom: 10px;
    }
}

.platform-area {
    background: #F6F6F6;
}