.personal-area {
    background: #f6f6f6;
    // padding-top: 0px;
    &__image {
        @include media-breakpoint-up(lg) {
            max-width: 400px;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 50px;
            align-content: center;
        }
    }
    &__content {
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
        // animation: mymoves 3s ease-in-out;
        // z-index: 100;
        // max-width: 460px;
    }
    @include media-breakpoint-down(sm) {
       padding-top: 60px;
    }
}