// .process-area {
//     background: $background-color;
// }
.processors {
    transition-duration: 0.9s;
    // -webkit-box-shadow: 7px 7px 100px 27px rgba(206, 223, 219, 0.43);
    // -moz-box-shadow: 7px 7px 100px 27px rgba(206, 223, 219, 0.43);
    // box-shadow: 7px 7px 100px 27px rgba(206, 223, 219, 0.43);
    &:hover {
        -webkit-box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;
        box-shadow: $box-shadow;
    }
    &__image {
        padding: 53px 77px 54px 77px;
        max-width: 90%;
        @include media-breakpoint-down(md) {
            padding: 28px 53px 40px 35px;
        }
    }
}

//2nd payment process
.process-area {
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    // background: #FAFBFF;
    position: relative;
    width: 100%;
    // height: 721px;
    // padding-bottom: 100px;
    &__left {
        margin-top: 100px;
        padding-top: 60px;
        color: #99abb8;
        @include media-breakpoint-down(sm) {
            margin-top: 0px;
            padding-top: 60px;
            margin-bottom: 100px;
        }
    }
    &__title {
        color: $title-color;
        padding-bottom: 20px;
        font-family: $text-font;
    }
    &__text {
        max-width: 600px;
        font-family: $text-font;
        color: $text-color;
        padding-bottom: 20px;
    }
    &__span {
        display: inline-block;
        margin-top: 19px;
        margin-left: 18px;
    }
    &__icon {
        color: $primary-color3 !important;
        display: table;
        background: $white-color;
        transform: skew(-15deg);
        border-radius: 0px 100px 50px 0px !important;
        -webkit-box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;
        box-shadow: $box-shadow;
        font-size: 30px;
        text-align: center;
        line-height: 80px;
        width: 80px;
        height: 80px;
        &::before {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            background: $white-color;
            transform: skew(-1deg);
            border-radius: 0px 100px 50px 0px !important;
            -webkit-box-shadow: $box-shadow;
            -moz-box-shadow: $box-shadow;
            box-shadow: $box-shadow;
            width: 80px;
            height: 80px;
            z-index: -1;
        }
    }
    &__content {
        padding-left: 182px;
        margin-bottom: 100px;
        padding-top: 100px;
        @include media-breakpoint-only(md) {
            padding-left: 20px;
        }
        @include media-breakpoint-down(sm) {
            padding-left: 20px;
            margin-bottom: 0px;
            padding-top: 0px;
        }
    }
    &__right {
        position: relative;
        -webkit-box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;
        box-shadow: $box-shadow;
        // right: -90px;
        border-radius: 300px 0px 0px 300px !important;
        width: auto;
        height: 710px;
        background: $white-color;
        @include breakpoint($min: 1200px, $max: 1599px) {
            height: 627px;
        }
        @include media-breakpoint-only(md) {
            height: 653px;
        }
        @include media-breakpoint-only(lg) {
            height: 797px;
        }
        @include media-breakpoint-down(sm) {
            position: relative;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            // right: -90px;
            border-radius: none;
            width: auto;
            height: 250px;
            background: none;
        }
    }
    &__single {
        position: absolute;
        border: 5px solid #f6f6fa;
        border-radius: 10px;
        background-color: white;
        -webkit-box-shadow: 0px 1px 30px 0px rgba(55, 125, 162, 0.2);
        box-shadow: 0px 1px 30px 0px rgba(55, 125, 162, 0.2);
        text-align: center;
        // width: 100px;
        height: auto;
        padding: 15px;
        transition: 0.3s ease-in-out all;
        &:hover {
            transform: scale(1.2) !important;
        }
        @include media-breakpoint-only(md) {
            padding: 1px;
        }
        @include media-breakpoint-down(sm) {
            position: relative;
            padding: -1px;
        }
    }
    &__img {
        // width: 100px;
        max-width: 100px;
        // height: 70px;
        @include media-breakpoint-down(sm) {
            max-width: 50px;
        }
    }
    &--img1 {
        top: 89px;
        left: 196px;
        @include breakpoint($min: 1200px, $max: 1599px) {
            top: 89px;
            left: 429px;
        }
        @include media-breakpoint-only(lg) {
            top: 89px;
            left: 126px;
        }
        @include media-breakpoint-only(md) {
            top: 529px;
            left: 180px;
        }
        @include media-breakpoint-down(sm) {
            top: 0px;
            left: 0px;
        }
    }
    &--img3 {
        top: 77px;
        left: 322px;
        @include breakpoint($min: 1200px, $max: 1599px) {
            top: 54px;
            left: -46px;
        }
        @include media-breakpoint-only(lg) {
            top: 258px;
            left: 107px;
        }
        @include media-breakpoint-only(md) {
            top: 38px;
            left: 103px;
        }
        @include media-breakpoint-down(sm) {
            top: 0px;
            left: 0px;
        }
    }
    &--img4 {
        top: 250px;
        left: -80px;
        @include breakpoint($min: 1200px, $max: 1599px) {
            top: 225px;
            left: -350px;
        }
        @include media-breakpoint-only(lg) {
            top: 63px;
            left: -20px;
        }
        @include media-breakpoint-only(md) {
            top: 395px;
            left: -18px;
        }
        @include media-breakpoint-down(sm) {
            top: 0px;
            left: 0px;
        }
    }
    &--img5 {
        top: 246px;
        left: 40px;
        @include breakpoint($min: 1200px, $max: 1599px) {
            top: 236px;
            left: 333px;
        }
        @include media-breakpoint-only(lg) {
            top: 478px;
            left: 315px;
        }
        @include media-breakpoint-only(md) {
            top: 140px;
            left: 51px;
        }
        @include media-breakpoint-down(sm) {
            top: 0px;
            left: 0px;
        }
    }
    // &--img6 {
    //     top: 190px;
    //     left: 500px;
    // }
    &--img7 {
        top: 565px;
        left: 104px;
        @include breakpoint($min: 1200px, $max: 1599px) {
            top: 509px;
            left: 192px;
        }
        @include media-breakpoint-only(lg) {
            top: 628px;
            left: -62px;
        }
        @include media-breakpoint-only(md) {
            top: 394px;
            left: -74px;
        }
        @include media-breakpoint-down(sm) {
            top: 0px;
            left: 0px;
        }
    }
    &--img8 {
        top: 429px;
        left: 40px;
        @include breakpoint($min: 1200px, $max: 1599px) {
            top: 422px;
            left: -282px;
        }
        @include media-breakpoint-only(lg) {
            top: 378px;
            left: -216px;
        }
        @include media-breakpoint-only(md) {
            top: 278px;
            left: -181px;
        }
        @include media-breakpoint-down(sm) {
            top: 0px;
            left: 0px;
        }
    }
    &--img9 {
        top: 381px;
        left: 316px;
        @include breakpoint($min: 1200px, $max: 1599px) {
            top: 366px;
            left: 370px;
        }
        @include media-breakpoint-only(lg) {
            top: 237px;
            left: 33px;
        }
        @include media-breakpoint-only(md) {
            top: 139px;
            left: 221px;
        }
        @include media-breakpoint-down(sm) {
            top: 0px;
            left: 0px;
        }
    }
}