.quick-send-area {
    background: #f6f6f6;
    // padding-top: 0px;
    &__image {
        @include media-breakpoint-up(lg) {
            max-width: 400px;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 50px;
            align-content: center;
        }
    }
    &__content {
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
        // animation: mymoves 3s ease-in-out;
        // z-index: 100;
        // max-width: 460px;
    }
    @include media-breakpoint-down(sm) {
       padding-top: 60px;
    }
}


//send image

.send-right-img{
    position: absolute;
    top: 865px;
    right: 0;
    width: 364px;
    height: 1373px;
    @include breakpoint($min: 1200px, $max: 1599px) {
        right: 0;
    top: 1480px;
    width: 176px;
    height: 846px;
    }
    @include media-breakpoint-only(lg) {
        right: 0;
        top: 1689px;
        width: 170px;
        height: 619px;
    }
    @include media-breakpoint-only(md) {
        right: 0;
        top: 2042px;
        width: 114px;
        height: 469px;
    }
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.send-left-img{
    position: absolute;
    top: 865px;
    left: 0;
    width: 364px;
    height: 1373px;
    @include breakpoint($min: 1200px, $max: 1599px) {
        right: 0;
        top: 1653px;
        width: 112px;
        height: 525px;
    }
    @include media-breakpoint-only(lg) {
        right: 0;
        top: 1689px;
        width: 170px;
        height: 619px;
    }
    @include media-breakpoint-only(md) {
        right: 0;
        top: 2042px;
        width: 114px;
        height: 469px;
    }
    @include media-breakpoint-down(sm) {
        display: none;
    }
}