.request-banner-area {
    height: 600px;
    background: linear-gradient(0deg, #040404ad, #040404ad), url(../../img/send_money/request-banner.jpg) no-repeat center;
    background-size: cover;
    &__content {
        text-align: center;
    }
    &__title {
        color: $white-color;
        @include media-breakpoint-down(sm) {
            font-size: 35px;
        }
    }
    &__text {
        color: $white-color;
        font-size: 20px;
        padding-bottom: 30px;
        letter-spacing: 1.5px;
    }
    &__buttons {}
    &__slide-icon {
        color: $white-color;
        font-size: 40px !important;
    }

    //request section
    &__sm-link{
        color: $yellow-color;
    }
}