// Section Gap
.section-gap-bottom {
    padding-bottom: 100px;
    @include media-breakpoint-down(sm) {
        padding-bottom: 60px;
    }
}

.section-gap-top {
    padding-top: 100px;
    @include media-breakpoint-down(sm) {
        padding-top: 60px;
    }
}

.section-gap-top2 {
    padding-top: 100px;
    @include media-breakpoint-down(sm) {
        padding-top: 0px;
    }
}

.section-gap {
    padding-top: 100px;
    padding-bottom: 100px;
    @include media-breakpoint-down(sm) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.title {
    text-align: left;
    color: $title-color;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 50px;
    @include media-breakpoint-down(sm) {
        text-align: center;
        font-size: 25px;
    }
}

.title-center {
    text-align: center;
    color: $title-color;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 50px;
    @include media-breakpoint-down(sm) {
        font-size: 25px;
    }
    // padding-top: 60px;
}

.text {
    color: $text-color;
    margin-bottom: 20px;
    @include media-breakpoint-down(sm) {
        text-align: center;
    }
}

// .btn-regular {
//     // // background: linear-gradient(to right, $primary-color3 0%, $primary-color2 51%, $primary-color3 100%);
//     // background: $primary-color2;
//     // // background: linear-gradient(to right, #25CAFD 0%, #5561FF 51%, #25CAFD 100%);
//     // // background: linear-gradient(to right, #0cebeb 0%, #20e3b2 51%, #0cebeb 100%);
//     // font-size: 11px;
//     // font-family: $text-font;
//     // text-transform: uppercase;
//     // padding: 12px 35px;
//     // letter-spacing: 1px;
//     // color: $white-color;
//     // cursor: pointer;
//     // text-align: center;
//     // border: none;
//     // background-size: 200% auto;
//     // border-radius: 15px;
//     // -moz-transition: all .2s ease-in-out;
//     // -o-transition: all .2s ease-in-out;
//     // -webkit-transition: all .2s ease-in-out;
//     // transition: all .2s ease-in-out;
//     &:hover {
//     //     background-position: right center;
//     //     color: $white-color;
//     //     box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
//     // -ms-transform: translateY(-3px);
//     // transform: translateY(-3px);
//     }
//     &--banner-area {
//         font-size: 13px;
//         @include media-breakpoint-down(md) {
//             margin-right: 30px;
//         }
//     }
//     &--normal {
//         letter-spacing: 0.5px;
//         padding: 14px 35px;
//     }
//     &--pay-btn {
//         text-transform: capitalize;
//         letter-spacing: 0.9px;
//     }
//     &--transection {
//         margin-bottom: 60px;
//     }
// }
.transection-title {
    text-align: center;
    color: $dark;
    font-family: $text-font;
    font-weight: 500;
    // text-transform: capitalize;
    &--payment {
        padding-top: 0px;
        @include media-breakpoint-only(md) {
            font-size: 25px;
            // padding-top: 0px;
            // margin-bottom: 47px;
        }
        @include media-breakpoint-down(sm) {
            // margin-bottom: 10px;
            font-size: 20px;
        }
    }
    @include media-breakpoint-down(md) {
        font-family: $text-font;
        font-weight: 400;
        // font-size: 10px;
        // text-transform: capitalize;
        margin-bottom: 50px;
    }
}

.category {
    background: $white-color;
    font-size: 10px;
    text-align: center;
    color: $dark;
    position: relative;
    padding: 20px 30px;
    border-radius: 45px;
    transition: all 0.5s;
    box-shadow: $box-shadow;
    &:hover {
        transform: translateY(-7px);
        &::before {
            bottom: -10px;
            top: 0px;
            z-index: -2345;
        }
    }
    &::before {
        content: "";
        background: $primary-color2;
        position: absolute;
        // top: -14px;
        // left: 38px;
        bottom: 0;
        right: 38px;
        border-radius: 20px;
        z-index: -1;
        transition: all 0.5s;
    }
}

// service gallary end
.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.btn {
    display: flex;
}

.primary-btn {
    position: relative;
    cursor: pointer;
    // height: 35px;
    // line-height: 35px;
    padding: 6px 22px;
    color: #ffffff;
    font-size: 12px;
    // font-weight: 600;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    outline: none;
    border: none;
    user-select: none;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
    @include media-breakpoint-only(md) {
        font-size: 8px;
        padding: 1px 14px;
    }
    @include media-breakpoint-down(sm) {
        font-size: 10px;
        padding: 4px 11px;
        border-radius: 5px;
        position: fixed;
    }
    &:hover {
        text-decoration: none;
        box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.225);
    }
    &--banner {
        margin-right: 20px;
    }
    &--personal {
        margin-right: 20px;
        text-align: center;
    }
    &--marchent {
        text-align: center;
    }
    &--login {
        padding: 4px 18px;
        margin-right: 20px;
        @include media-breakpoint-down(sm) {
            // margin-left: 120px;
            padding: 3px 11px;
            margin-right: 0px;
            font-size: 12px;
        }
    }
    &--registration {
        padding: 4px 17px;
        @include media-breakpoint-down(sm) {
            font-size: 12px;
            padding: 3px 11px;
        }
    }
    &.btn-lightBlue {
        color: #fff;
        background-color: $btn_lightBlue;
        &--login {
            @include media-breakpoint-down(sm) {
                background-color: #4b75fa;
            }
        }
        &--registration {
            @include media-breakpoint-down(sm) {
                background-color: #4b75fa;
            }
        }
        &:hover {
            background-color: lighten($btn_lightBlue, 8%);
        }
        &.disabled,
        &[disabled] {
            cursor: default !important;
            color: #9e9e9e !important;
            box-shadow: none !important;
        }
        &.disabled:not(.btn-flat),
        &[disabled]:not(.btn-flat) {
            background-color: #cdcdcd !important;
            &:hover {
                background-color: #cdcdcd !important;
            }
        }
    }
}

button:focus {
    outline: none;
}

.buttons {
    @include media-breakpoint-down(sm) {
        position: fixed;
        right: 45px;
        top: 11px;
    }
}

.ripple-effect {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    z-index: 1;
}

.full-screen {
    @include media-breakpoint-down(sm) {
        height: 555px !important;
    }
}

// Font Style
.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.f700 {
    font-weight: 700;
}

.fsi {
    font-style: italic;
}

// margin top
.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-150 {
    margin-top: 150px;
}

// margin-left
.ml-0 {
    margin-left: 0 !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-50 {
    margin-left: 50px;
}

// margin-right
.mr-0 {
    margin-right: 0 !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-15 {
    margin-right: 15px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-50 {
    margin-right: 50px;
}

// margin-bottom
.mb-0 {
    margin-bottom: 0px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

// padding-top
.pt-0 {
    padding-top: 0px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-150 {
    padding-top: 150px;
}

// padding-bottom
.pb-0 {
    padding-bottom: 0px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

// padding-Right
.pr-0 {
    padding-right: 0px !important;
}

// padding-Left
.pl-0 {
    padding-left: 0px !important;
}

.pl {
    padding-left: 5px;
}

.pr {
    padding-right: 5px;
}

.pb {
    padding-bottom: 5px;
}

.pt {
    padding-top: 5px;
}