//    Font Family
$text-font: "Poppins", sans-serif;
$title-font: "Roboto", sans-serif;
//color
$main-purpel-color: #6d2bff;
$main-purpel-color2: #2bbcfd;
$primary-color: #039be5;
$btn_lightBlue: #03a9f4;
$primary-color2: #2db8c9;
$primary-color3: #3867cf;
// $primary-color3: #5B21DA;
$title-color:#222;
$white-color: #ffffff;
$yellow-color: #f5b52f;
$icon-color: #d248f0;
$dark: rgb(24, 20, 20);
$text-color: #777;
$background-color: #f6f6f6;
$block-color: #f6f6f6;
$border-color: #eeeef0;
$border-color2: #7094cd;
$box-shadow: 7px 7px 150px 27px rgba(206, 223, 219, 0.43);
