//    Font Family
$text-font: 'Poppins',
sans-serif;
$title-font: 'Roboto',
sans-serif;
//color
$primary-color: #039BE5;
$secondary-color:#2DB8C9;
$white-color: #FFFFFF;
$yellow-color: #CE9641;
$icon-color: #D248F0;
$dark: rgb(24, 20, 20);
$text-color: rgb(51, 44, 44);
$background-color: rgb(133, 133, 133);
$block-color:#F6F6F6;
$hover-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);