//    Font Family
$text-font: 'Poppins',
sans-serif;
$title-font: 'Roboto',
sans-serif;
//color
$primary-color: #039BE5;
$btn_lightBlue: #03a9f4;
$primary-color2:#2DB8C9;
$primary-color3: #3867CF;
// $primary-color3: #5B21DA;
$white-color: #FFFFFF;
$yellow-color: #F5B52F;
$icon-color: #D248F0;
$dark: rgb(24, 20, 20);
$text-color: rgb(51, 44, 44);
$background-color: #F6F6F6;
$block-color:#F6F6F6;
$border-color:#EEEEF0;
$border-color2:#7094CD;
$box-shadow: 7px 7px 150px 27px rgba(206, 223, 219, 0.43);